/

* {
   font-family: alfa 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
   margin: 2px;
   padding: 2px;
   border-top: 5px greenyellow;
  }
body {
  display: flex;
  justify-content: center;
  background: #a8a8a8;
  padding: 30px;
}

h2 {
  text-align: center;
  color: darkblue;
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(153, 169, 164);
  padding: 0px;
  margin: 10px;
  display: flex;
  text-align: right;
}

.navbar a{
  color: rgb(255, 254, 240);
  text-decoration: none;
  padding: 2px;
  display: block;
  text-align: center;
  flex-direction: row;
}
.navbar li {
  display: inline;
}
.navbar a:hover {
  background-color: rgb(39, 180, 151);
}
.container {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  border: 20px;
}

.container .card {
width: 600px;
position: relative;
height: 500px;
background: #a35b5b;
display: flex;
flex-direction: column;
box-shadow: 0.5px 10px #6e6e6;
margin-top: 5px;
transition:0.3$ ease-in-out;


}
.container .card .imgbx {
  position: relative;
  width: 350px;
  height: 350px;
  top: 20px;
  left: 20px;
  box-shadow: 0.5px 20px rgba(red, green, blue, alpha);
  }
.container .card .imgbx img {
  max-width: 100%;
  border-radius: 5px;
}
.imgbx:hover img {
  transform: scale(1.1);
}

